.Purchase
  .Purchase__all
    .Purchase__all__menu
      %section.Purchase__all__menu__one
        %h2
          購入内容確認
      %section.Purchase__all__menu__two
        .Purchase__all__menu__two__gazo
          .Purchase__all__menu__two__gazo__left
            %figure.Purchase__all__menu__two__gazo__left__box
              %img{src:"https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG", alt:"ビーフ"}
          .Purchase__all__menu__two__gazo__right
            %p.name
              ビーフ
            %p.kakaku
              %span.mozi
                送料込み (税込)
              %span.suuzi
                ￥１０,０００
      %section.Purchase__all__menu__three
        .Purchase__all__menu__three__money
          %span
            支払い金額
          %span
            ￥１０,０００
        %label
          %label
            %span
              %span
                %input{type:"text"}
              %svg
                %path  
            %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/icon-d-point-b6fd5f328cf7f7b28fd6e84b1b4062d5.svg", alt:"Docomo Point Icon"}
            %p
              -# = link_to "#" do
        %label
      %section.Purchase__all__menu__four
      %section.Purchase__all__menu__five
      %section.Purchase__all__menu__six
