// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
// ヘッダー部分
.Top{
  padding: 0 60px;
  &__innerTop{
    width: 100%;
    min-height: 82px;
    max-width: 1040px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main{
      align-items: center;
      position: relative;
      display: flex;
      .Logo{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a{
          width: 140px;
          display: block;
          img{
            width: 100%;
            vertical-align: bottom;

          }
        }
      }
      &__seach{
        margin-left: auto;
        width: 100%;
        &__box{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          position: relative;
          &__text{
            height: 36px;
            width: 100%;
            padding-left: 5px;
          }
          &__btn{
            position: absolute;
            vertical-align: bottom;
            border: 0;
            right: 0;
            height: 36px;
            width: 36px;
            cursor: pointer;
            background-color: transparent;
          }
          &__image{
            color: #fff;
            position: absolute;
            right: 0;
            padding: 8px 8px;
            font-size: 20px;
            height: 36px;
            width: 36px;
            background-color: #3CCACE;
          }
        }
      }
    }
    .Mokuji{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__themeLeft{
        position: relative;
        display: flex;
        &__item{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          &--one{
            text-decoration: none;
            padding: 0;
          }
            a{
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
            }
            #tree_menu {
              width: 200px;
              position: absolute;
              z-index: 10;
              display: flex;
            
              .categoryTree {
                display: none;
                height: 100%;
                border: 1px solid #34AEB3;
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 4px 4px 4px #999;
            
                a {
                  padding: 0;
            
                  input[type="button"] {
                    min-width: 200px;
                    height: 35px;
                    font-size: 14px;
                    text-decoration: none;
                    color: #3ccace;
                    background: #ffffff;
                    outline: none;
                    transition: .4s;
                    border: #ffffff;
                    padding: 0 0.9em;
                    cursor: pointer;
                  }
            
                  input[type="button"]:hover {
                    background: #62d4d7;
                    color: white;
                  }
            
                  input[type="button"]:active {
                    -webkit-transform: translateY(2px);
                    transform: translateY(2px);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
                    background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
                  }
                }
              }
            
              .categoryTree-child {
                display: none;
                height: 100%;
                border: 1px solid #34AEB3;
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 4px 4px 4px #999;
            
                .category_child {
            
                  a {
                    padding: 0;
            
                    input[type="button"] {
                      min-width: 230px;
                      height: 35px;
                      font-size: 14px;
                      text-decoration: none;
                      color: #3ccace;
                      background: #ffffff;
                      outline: none;
                      transition: .4s;
                      border: #ffffff;
                      padding: 0 0.9em;
                      cursor: pointer;
                    }
            
                    input[type="button"]:hover {
                      background: #62d4d7;
                      color: white;
                    }
            
                    input[type="button"]:active {
                      -webkit-transform: translateY(2px);
                      transform: translateY(2px);
                      box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
                      background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
                    }
                  }
                }
              }
            
              .categoryTree-grandchild {
                display: none;
                height: 100%;
                border: 1px solid #34AEB3;
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 4px 4px 4px #999;
            
                a {
                  padding: 0;
            
                  input[type="button"] {
                    min-width: 250px;
                    height: 35px;
                    font-size: 14px;
                    text-decoration: none;
                    color: #3ccace;
                    background: #ffffff;
                    outline: none;
                    transition: .4s;
                    border: #ffffff;
                    padding: 0 0.9em;
                    cursor: pointer;
                  }
            
                  input[type="button"]:hover {
                    border: 1px solid #62d4d7;
                    background: #62d4d7;
                    color: white;
                  }
            
                  input[type="button"]:active {
                    -webkit-transform: translateY(2px);
                    transform: translateY(2px);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
                    background-image: linear-gradient(#b1e9eb 0%, #30a1a4 100%);
                  }
                }
              }
            }
        }
      }
      
      &__themeRight{
        margin-left: auto;
        display: flex;
        &__item{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

// ここから商品詳細
.breadCrumbs{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4);
  position: relative;
  padding: 0 60px;
  ul{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    li{
      padding: 0 10px 0 0;
      float: left;
      a{
        text-decoration: none;
        color: #333;
      }
    }
  }
  ul::after{
    display: block;
    content: "";
    clear: both;
  }
}
// 真ん中の画像に
img{
  width: 100%;
  vertical-align: bottom;
}
// お気に入りボタン
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: -webkit-font-smoothing;
}
.Main{
  background: #f8f8f8;
  &__show{
    padding: 40px;
    margin: 0 auto;
    &__contRight{
      width: 700px;
      margin: 0 auto;
      &__topCont__itemBox{
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body{
          margin: 16px 0 0;
          ul{
            display: flex;
            position: relative;
            >li{
              display: flex;
              flex-direction: column;
              width: 560px;
              align-items: center;
              margin: 0 auto;
              .items-box_photo__sold{
                width: 0;
                height: 0;
                border-top: 60px solid #ea352d ;
                border-right: 60px solid transparent;
                border-bottom: 60px solid transparent;
                border-left: 60px solid #ea352d ;
                z-index:100;
                position: relative;
                top: -346px;
                margin-bottom: -120px;
                &__inner{
                  transform: rotate(-45deg);
                  font-size: 28px;
                  margin:-35px 0px 0px -55px;
                  color: #fff;
                  font-weight: 600;
                }
              }
              img{
                object-fit: cover;
                height: 346px;
                width: 560px;
              }
              ul{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li {
                  width: 104px;
                  margin: 0 5px;
                  img{
                    object-fit: cover;
                    height: 87px;
                    width: 102px;
                  }
                }
              }
            }
          }
        }
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          >span{
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &__tail{
            font-size: 16px;
            span{
              font-size: 16px;
            }
          }
        }
        &__buy{
          background-color: #3CCACE;
          color: #fff;
          height: 60px;
          margin-top: 16px;
          padding: auto;
          font-weight: 600;
          font-size: 24px;
          line-height: 60px;
          text-align: center;
        }
        &__detail{
          padding-top: 32px;
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a{
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
        }
        &__aria{
          display: flex;
          justify-content: space-between;
          ul{
            margin: 10px 0 0;
            display: flex;
            li.likeBtn{
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
            li.optionalBtn{
              font-size: 14px;
              a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
      }
      &__topCont__action{
        display: flex;
        text-align: center;
        &__edit{
          background-color: #3CCACE;
          color: #fff;
          height: 60px;
          margin-top: 16px;
          margin-bottom: 8px;
          width: 700px;
          padding: auto;
          font-size: 16px;
          line-height: 60px;
          text-align: center;
          border-radius: 8px;
        }
        &__delete{
          background-color: #cccccc;
          color: #fff;
          height: 60px;
          margin-top: 8px;
          width: 700px;
          padding: auto;
          font-size: 16px;
          line-height: 60px;
          text-align: center;
          border-radius: 8px;
        }
      }
      &__topCont__comeBox{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        ul.comeCon{
          list-style: none;
        }
        .new_comment{
          #comment_body{
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
          .commentBtn{
            background: #3CCACE;
            line-height: 48px;
            font-size: 18px;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
          }
        }
        .noticeMsg{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
      }
      &__links{
        li{
          float: left;
          a{
            text-decoration: none;
            color: #3CCACE;
            .fa-angle-left:before{
              content: "\f104";
            }
          }
        }
        li:last-child{
          float: right;
          .fa-angle-right:before{
            content: "\f105";
          }
        }
      }
      &__links:after{
        display: block;
        content: "";
        clear: both;
      }
      &__items{
        a{
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        &__lists{
          &__list{
            margin: 0 0 10px;
            float: left;
            width: calc(100% / 3);
            .productList--img{
              background-color: #fff;
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &__body{
              background-color: white;
              color: #333;
              padding: 16px;
              .name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                .fa-star:before{
                  content: "\f005";
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
      &__items:after{
        display: block;
        content: "";
        clear: both;
      }
    }
  }
  &__show:after{
    display: block;
    content: "";
    clear: both;
  }
}

// 下部分
.Bottom{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__menu{
      display: flex;
      flex-direction: column;
      width: calc(1/3 * 100%);
      margin: 0 2% 0 0;
      &__head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a{
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  .foologo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      vertical-align: bottom;
    }
    p{
      font-size: 14px;
    }
  }
}