* {
  box-sizing: border-box;
}

@mixin span {
  color: #fff;
  background-color: red;
  padding: 2px 2px;
  font-size: 13px;
  
}

.Listing{
  background-color: #EEEEEE;
  .Logo{
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    &__image{
      margin-top: 30px;
      height: 65px;
      width: 250px;
    }
  }
  .Product{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    padding:20px 40px 0 40px;
    &__image{
      padding-top: 10px;
      border-bottom: 2px solid #EEEEEE;
      padding-bottom: 20px;
      &__title{
        font-size: 15px;
        span{
          @include span;
        }
      }
      &__detail{
        font-size: 13px;
        margin-top: 7px;
      }
      &__submit{
        height: 100px;
        width: 100%;
        display: none;
      }
    }
    
    &__name{
      margin-top: 30px;
      &__title{
        font-size: 15px;
        span{
          @include span;
        }
      }
      &__text{
        width: 100%;
        padding: 10px 0 10px 10px;
        margin-top: 10px;
      }
    }
    
    &__explanation{
      margin-top: 30px;
      border-bottom: 2px solid #EEEEEE;
      &__title{
        font-size: 15px;
        span{
          @include span;
        }
      }
      &__text{
        width: 100%;
        height: 150px;
        padding: 10px 0 10px 10px;
        margin-top: 10px;
        margin-bottom: 100px;
      }
    }
    &__detail{
      margin-top: 30px;
      border-bottom: 2px solid #EEEEEE;
      padding-bottom: 40px;
      &__title{
        margin-bottom: 20px;
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 600;
      }
      &__category{
        &__label{
          font-size: 15px;
        }
        &__require{
          background: red;
          padding: 2px 2px;
          color: #fff;
          font-size: 13px;
        }
        &__select{
          margin-top: 15px;
          &__box{
            margin-top: 15px;
            &--form{
              width: 100%;
              height: 50px;
            }
          }
        }
      }

      &__brand{
        margin-top: 30px;
        &__title{
          font-size: 15px;
          span{
            color: #fff;
            background-color: #bfbfbf;
            padding: 2px 2px;
            font-size: 13px;
          }
        }
        &__text{
          width: 100%;
          padding: 10px 0 10px 10px;
          margin-top: 10px;
        }
      }
      &__status{
        margin-top: 30px;
        &__title{
          font-size: 15px;
          span{
            @include span;
          }
        }
        &__select{
          margin-top: 15px;
          &__form{
            width: 100%;
            height: 50px;
          }
        }
      }
    }
    &__delivery{
      margin-top: 20px;
      border-bottom: 2px solid #EEEEEE;
      padding-bottom: 40px;
      &__title{
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 600;
      }
      &__burden{
        margin-top: 20px;
        &__title{
          font-size: 15px;
          span{
            @include span;
          }
        }
        &__select{
          margin-top: 15px;
          &__form{
            width: 100%;
            height: 50px;
          }
        }
      }
      &__region{
        margin-top: 30px;
        &__title{
          font-size: 15px;
          span{
            @include span;
          }
        }
        &__select{
          margin-top: 15px;
          &__form{
            width: 100%;
            height: 50px;
          }
        }
      }
      &__day{
        margin-top: 30px;
        &__title{
          font-size: 15px;
          span{
            @include span;
          }
        }
        &__select{
          margin-top: 15px;
          &__form{
            width: 100%;
            height: 50px;
          }
        }
      }
    }
    &__price{
      padding-top: 30px;
      &__title{
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 600;
      }
      &__sale{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        &__title{
          font-size: 15px;
          padding-right: 300px;
          padding-top: 10px;
          span{
            @include span;
          }
        }
        &__symbol{
          padding-top: 7px;
        }
        &__form{
          height: 40px;
          text-align: right;
          padding-right: 10px;
        }
      }
      &__fee{
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: 2px solid #EEEEEE;
      }
      &__profit{
        padding-top: 30px;
      }
    }
    &__btn{
      padding-top: 40px;
      text-align: center;
      &__submit{
        padding: 10px 110px;
        background-color: red;
        color: white;
        border-radius: 4px;
        font-size: 20px;
        border: none;
      }
      &__return{
        padding-top: 20px;
        text-decoration: none;
        display: block;
        color: #0095ee;
        padding-bottom: 20px;
      }
    }
  }
  .End{
    padding-top: 10px;
    &__copy{
      font-size: 20px;
      text-align: center;
    }
  }
}

#previews{
  width:100%; 
  height: 200px; 
  display:flex; 
  overflow: hidden
  
}
#image-select-btn{
  width:100%; 
  height:100%; 
  background-color:gray; 
  border:solid 4px red; 
  cursor: pointer
}
.js-file_group{
  display: none;
}

#delete_button_field{
  display: flex;
  .js-remove{
  background-color: lawngreen;
  width: 20%;
  } 
}