.AccountPage {
  background-color: #EEEEEE;
  .Logo{
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    &__image{
      margin-top: 30px;
      height: 65px;
      width: 250px;
    }
  }
}
.AccountPage__form {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  padding:10px 40px 40px 40px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.Forms {
  max-width: 343px;
  margin: 0 auto;
}

.FormField {
  margin-bottom: 20px;
  
  &__label--mormal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: inherit;
    vertical-align: inherit;
    font-weight: 600;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__label__require {
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
  }

  &__input--normal {
    margin: 8px 0 0;
    height: 48px;
    input {
      box-sizing: border-box;
      border: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    select {
      box-sizing: border-box;
      border: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}


.Forms > h2 {
  font-size: 22px;
  padding: 32px;
  text-align: center;
  color: #3CCACE;
  display: block;
  font-size: 1.5em;

  font-weight: 600;
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #3CCACE;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
}
