.Top
  .Image
    .Image__content
      .Image__content__message 人生を変えるフリマアプリ
      %p.Image__content__text
        FURIMAはだれでもかんたんに出品・購入できる 
        %br
        フリマアプリです
      .Image__content__link
        = link_to image_tag(src= "google-play-badge.png", class: "Image__content__link__google"), "#"
